* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Robotto;
    src: url(Roboto/Roboto-Regular.ttf);
}




.font {
    font-family: robotto;
}

/* nav {
    background-color: #FFFFFF !important;
} */

.color {
    color: #5E3BEE !important;
}

.rang {
    color: #1C1E53 !important;
}

button {
    color: #5E3BEE !important;
    border-color: #5E3BEE !important;

}

.body {
    background-color: #F5FCFF !important;

}

.body1 {
    background-color: #F5FCFF !important;

}

h6 {
    font-family: robotto;
    /* font-size: 21.33px !important; */
    color: #282938 !important;
    line-height: 35px !important;
}

p {

    font-family: robotto;
    font-size: 25px !important;
    color: #1C1E53 !important;
    /* line-height: 35px !important; */
}

h1 {
    font-family: robotto;
    /* font-size: 60.67px !important; */
    color: #282938 !important;
    line-height: 59.6px !important;
}

h4 {
    font-family: robotto;
    line-height: 59.6px !important;
}

.box-shadow{
    box-shadow: 0px 5.33px 80px 0px #0000001A !important;
}

.heading {
    color: #1C1E53 !important;
}

.purple {
    color: #5E3BEE !important;
}
.button{
    background-color: #5E3BEE !important;
    color: #FFFFFF !important;
    font-family: robotto;
}

.voilet {
    background-color: #5E3BEE !important;
    color: #FFFFFF !important;
    width: 120px !important;
    height: 49px !important;
    font-size: 17px !important;
}

.strategy {
    width: 405.33px !important;
    height: 370.33px !important;
    background-color: #F5FCFF !important;
}

.padding {
    padding-left: 400px !important;
}

.dabba {
    border: none !important;
    padding: 0px !important;
    box-shadow: 0px 5.33px 16px 0px #00000026;

}


.flex1 {
    display: flex;
    justify-content: center;
    gap: 25px !important;
}

.flex {
    display: flex;
    justify-content: space-around !important;
    gap: 15px !important;

}

@media screen and (min-width:0px) and (max-width:1000px) {
    .space {
        padding: 10px 20px !important;
    }
}

@media screen and (min-width:1000px) and (max-width:1400px) {
    .space {
        padding: 10px 220px !important;
    }
}

@media screen and (min-width:1400px) and (max-width:2100px) {
    .space {
        padding: 10px 280px !important;
    }
}


.box {
    width: 330px !important;
    height: 320px !important;
    background-color: #F5FCFF !important;
}

.rectangle {
    width: 460px !important;
    height: 305px !important;
    background-color: #F5FCFF !important;
    border: 1.33px solid #006B6A !important;
}

.sizing {
    height: 160px !important;
}

.bd-color {
    border-color: #5E3BEE !important;
}

.last-sec-color{
    background-color: #F5FCFF !important;
}

.flexing{
    display: flex;
    justify-content: space-between;

}